{% extends "base.html" %}
{% block content %}

<div class="container">
  <h1>Welcome to our eCommerce Store</h1>
  <!-- Hide the Login/Registration buttons for logged-in users -->

  {% if not logged_in: %}
  <a href="{{ url_for('login') }}" class="btn btn-primary btn-block btn-large">Login</a>
  <a href="{{ url_for('register') }}" class="btn btn-secondary btn-block btn-large">Register</a>
  <!-- Feedback for logged-in users -->
  {% else %}
    <p>Hello, {{ current_user.name }}!</p>
  {% endif %}
</div>
<br><br>

<div>
  <h2>Products for Sale</h2>
  <ul>
    {% for item in items %}
    <li>
      <h3>{{ item.name }}</h3>
      <p>Description: {{ item.description }}</p>
      <p>Price: ${{ item.price }}</p>
      <p>Sale: ${{ item.sale }}</p>
      <p>Category: {{ item.category }}</p>
    </li>
    {% endfor %}
  </ul>
</div>

{% endblock %}